<div class="container">
	<h1>Welcome</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col s7" id="articles1">
			{{#each scrapeMetal}}
			<li><p>{{this.title}}</p></li>
			<li><a href="{{this.link}}">{{this.link}}</a></li>
			<br>
			{{/each}}
		</div>
	</div>
</div>	
<div class='row'>
	<div class="col s7">
			<div class="container" id="articles">
	{{!-- scraped information get's appended here --}}
			</div>
		</div>
		<div class="col s4 pull-s1" id="comments">
{{!-- comment form gets generated here via index.js --}}
		</div>
</div>
<div class="container">
{{!-- this each function used to load all the titles and links via an hbsOjb that got populated with Article.find() in app.get("/") --}}
{{!-- {{#each scrapeMetal}}
<li>{{this.title}}</li>
<li><a href="{{this.link}}">{{this.link}}</a></li>
{{/each}}	 --}}
	</div>
	
<script src="assets/js/testhbs.js"></script>